.inicio {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.categoryTitle {
  font-size: 2rem;
  margin: 20px 0;
  display: inline-block;
  padding: 0.2rem 1rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
}

.frontend {
  background-color: var(--cor-frontend, #6BD1FF);
  color: var(--branco, #ffffff);
  padding: 0.4rem 2rem;
  border-radius: 10px;
  margin-left: 30px;
}

.backend {
  background-color: var(--cor-backend, #00C86F);
  color: var(--branco, #ffffff);
  padding: 0.4rem 2rem;
  border-radius: 5px;
  margin-left: 30px;
}

.inovacaoEgestao {
  background-color: var(--cor-inovacao-gestao, #FFBA05);
  color: var(--branco, #ffffff);
  padding: 0.4rem 2rem;
  border-radius: 5px;
  margin-left: 30px;
}
