@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

.header {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: var(--cinza);
  color: #fff;
}

.logoImage {
  height: 30px;
  margin-right: 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 15px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  font-family: 'Source Sans Pro', sans-serif;
}

.link:hover {
  background-color: #333;
}

.active {
  background-color: #000000;
  color: var(--azul);
  border: 1px solid var(--azul);
  box-shadow: inset 0 0 15px var(--azul), 0 0 10px var(--azul);
}

.newVideoButton {
  border: 1px solid var(--gray);
  color: var(--gray);
}
