@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

.novoVideo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
}

.formTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.formGroup label {
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input,
.formGroup textarea,
.formGroup select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.formGroup input::placeholder,
.formGroup textarea::placeholder {
  color: #aaa;
}

.formActions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.saveButton,
.clearButton {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  text-align: center;
  width: 130px;
  height: 40px;
}

.saveButton {
  background-color: var(--cinza);
  border: 1px solid var(--azul);
  color: white;
}

.clearButton {
  background-color: var(--cinza);
  border: 1px solid var(--gray);
  color: white;
}
