:root {
  --fonte: 'Roboto';
  --cinza: #262626;
  --branco: #FFFFFF;
  --cor-backend: #00C86F;
  --cor-gestao: #FFBA05;
  --cor-frontend: #6BD1FF;
  --azul: #2271D1;
  --vermelho: #E53935;
  --gray: #A5A5A5;
  --card: #03122F;
  --preto: #000000;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--fonte);
  background-color: var(--cinza);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
