@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.banner {
  position: relative;
  width: 97,5%;
  height: 470px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
}

.textContent {
  text-align: left;
  max-width: 60%;
  margin-top: 2rem;
}

.title {
  font-size: 2rem;
  background-color: var(--cor-frontend);
  color: var(--branco);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: normal;
}

.description {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.featuredVideo {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-top: 3rem;
}

.featuredThumbnail {
  border: 2px solid #6BD1FF;
  border-radius: 10px;
  box-shadow: inset 0 0 50px var(--azul), 0 0 5px var(--azul);
  width: 500px;
  height: 250px;
}
